html, body{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%
}

.container{
    display: flex;
    height: 100%;
}

.split{
    text-align: center;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.left{
    background: url('./assets/gaming.jpg') center center;
    background-size: cover;
}

.right{
    background: url('./assets/programmer.jpg') center center;
    background-size: cover;
}

h1{
    color: #fff;
}